
:root {
  --main-bg: #0c0c0c;
  --main-font: "Inter";
}
* {
  font-family: var(--main-font);
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: visible;
}

body,
html {
  background-color: var(--main-bg);
  min-height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > a {
  font-size: larger;
}
nav > a:last-child {
  border: 1px solid white;
  padding: 5px 20px;
}
.logo {
  font-size: xx-large;
  margin-bottom: 20vh;
}

header {
  width: 100%;
  display: flex;
  min-height: 100%;
  overflow-x: hidden;
}
.left-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right-header {
  background-color: black;
  min-height: 100vh;
}
header > div {
  min-height: 100%;
  flex-grow: 1;
  padding: 40px 50px;
  max-width: 50%;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 20%;
}
.main-text > p {
  font-size: 4vh;
}
.devdou {
  font-size: 10vh !important;
}
.button-group {
  display: flex;
  margin-top: 30px;
}
.button-group > button {
  border: 1px solid white;
  font-size: x-large;
  padding: 10px 30px;
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
  min-width: 30%;
}
.button-group > button:first-of-type {
  color: black;
  background-color: white;
}

.hori-line {
  margin: 30px 0;
}
.line {
  width: 30%;
  height: 2px;
  background-color: white;
  margin: 0 10px;
}
.header-footer > div {
  display: flex;
  align-items: center;
  gap: 15px;
  p,
  a {
    font-size: larger;
  }
}

.icon {
  width: 40px;
}

.header-footer {
  display: flex;
  flex-direction: column;
  font-size: large;
  width: 90%;
  justify-content: center;
  margin-top: 50px;
}
.header-lines {
  display: flex;
  gap: 20px;
  min-height: 100%;
  padding-left: 20%;
}
.header-lines > div {
  background-color: white;
  width: 35px;
  height: 400px;
  transform: rotate(15deg) scaleY(0);
  transform-origin: bottom;
}
.header-line:nth-of-type(1) {
  animation: headerLinesAnim 0.5s ease-in-out forwards;
  margin-top: 15vh;
}
.header-line:nth-of-type(2) {
  animation: headerLinesAnim 1s ease-in-out forwards;
  margin-top: 25vh;
}
.header-line:nth-of-type(3) {
  animation: headerLinesAnim 1.5s ease-in-out forwards;
  margin-top: 35vh;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-us > div {
  display: flex;
  justify-content: space-around;
  padding: 200px 40px;

}

.about-us-text {
  font-size: 3rem;
}

.about-us-long-text:first-of-type {
  color: #bfbfbf;
  font-size: 1.8rem;
}
.about-us-long-text-2 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.about-us-text-2 {
  font-size: 2rem;
}
.discover-more {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: large;
  padding: 5px 30px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: white;
}

.arrow-icon {
  font-size: xx-large;
  color: black;
}

.about-us-div-2 {
  display: flex;
  flex-direction: column;
}
.lamp-container {
  display: flex;
  align-items: center;
  font-size: x-large;
}
.lamp-icon {
  margin-left: -20px;
}
.about-us-list {
  margin-left: 20px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
}
.about-us-list li {
  list-style: none;
}

.about-us-list li::before {
  content: "⬤";
  font-size: 1rem;
  margin-right: 10px;
}

.two-boxes {
  position: relative;
  width: 321px;
  height: 361px;
  margin-right: 100px;
  background-color: black;
  border: 1px solid white;
}

.two-boxes::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 100px;
  width: 100%;
  height: 100%;
  background: white;
}
.skills {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 200px;
}
.skills-header {
  display: flex;
  flex-direction: column;
}
.skills-header > p:nth-of-type(1) {
  font-weight: bolder;
  font-size: 48px;
  margin-left: 100px;

}
.skills-header > p:nth-of-type(2) {
  font-weight: 400;
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-left: 100px;

}
.skills-header > p:nth-of-type(2)::before {
  content: "⬤";
  font-size: 1rem;
  margin-right: 10px;
}
.skills-cards-container {
  display: flex;
  gap: 30px;
  width: 100% !important;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  border-radius: 20px;
  max-width: 393px;
  margin-top: 100px;
  padding: 15px 10px;
}
.card-header {
  font-size: xx-large;
  font-weight: 400;
  margin: 20px 0;
}
.card-description {
  font-size: x-large;
  color: #C3C3C3;
  margin-bottom: 50px;
}
.card-img {
  width: 75px;
  height: 75px;
}
.card-tech {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}

.card-tech-box {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  background-color: var(--main-bg);
  border-radius: 7px;
  min-width: 130px;
  padding: 8px 10px;
}
.card-tech-box img {
  width: 30px;
  height: 30px;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes headerLinesAnim {
  0% {
    transform: rotate(15deg) scaleY(0);
  }
  100% {
    transform: rotate(15deg) scaleY(1);
  }
}

@media (max-width:1271px) {
  .skills {
    padding: 450px 0px;
    align-items: center;
    overflow-x: hidden;
  }
  .skills-cards-container {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .card {
    margin-top: 50px;
    width: 50%;
  }
}

@media (min-width: 1920px) {
  header > div {
    padding: 50px 100px;
    overflow-y: hidden;
  }
  .main-text > p {
    font-size: 4rem;
  }
  .devdou {
    font-size: 8rem !important;
  }
  nav {
    font-size: 2rem;
  }
  .logo {
    font-size: 4rem;
  }
  .header-footer {
    font-size: 2rem;
  }
  .about-us > div {
    display: flex;
    justify-content: space-around;
    padding: 150px 0;
  }
  .about-us-text {
    font-size: 4.5rem;
  }
  .about-us-long-text:first-of-type {
    font-size: 1.8rem;
    margin-left: 150px;
  }
  .about-us-long-text-2 {
    font-size: 1.7rem;
  }
  .discover-more {
    font-size: x-large;
    padding: 0px 50px;
    margin-left: 150px;
  }
  .arrow-icon {
    font-size: 3.5rem;
  }
  .lamp-container {
    font-size: 3rem;
    margin-right: 600px;
  }
  .lamp-icon {
    width: 90px;
  }
  .about-us-list {
    font-size: xx-large;
  }
  .two-boxes-container {
    position: relative;
  }
  .two-boxes {
    position: absolute;
    left: -500px;
    top: 0px;
  }

  .card-header {
    font-size:45px;
    width: 543px;
  }
  .card {
    padding: 15px 40px;
  }
  .card-tech {
    gap: 30px;
  }
  .card-tech-box {
    gap: 20px;
    font-size: 30px;
  }
  .card-tech-box img {
    width: 45px;
    height: 45px;
  }
}
