<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About DevDou</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/aboutus.css" />

  </head>
  <body>
    <div class="portfolio">
      <img src="/svgs/DEVDOU.png" alt="DevDou img" class="logo" />
      <a href="/">Home page</a>
    </div>

    <div class="text-container">
      <h1 class="about-us">About us</h1>
      <p>
        Welcome to DevDou, where creativity meets code and ideas transform into
        cutting-edge digital experiences. Based in the heart of Egypt, we are a
        team of passionate developers, designers, and strategists dedicated to
        building powerful, high-performance websites and applications that help
        businesses thrive in the digital world.
      </p>
    </div>

    <div class="text-container">
      <h1 class="Who">Who We Are</h1>
      <p>
        At DevDou, we believe in pushing boundaries. We’re not just another web
        development agency— we are digital craftsmen obsessed with clean code,
        stunning UI/UX, and seamless functionality. From sleek business websites
        to complex eCommerce platforms and dynamic web design, develop, and
        optimize solutions tailored to your needs.
      </p>
    </div>

    <div class="text-container">
      <h1>Why choose DevDou</h1>
        <div class="list-container">
            <p class="list-p">Performance-Driven Development</li>
                <p>
                  We build fast, scalable, and secure websites using modern
                  technologies.
                </p>
        </div>

        <div class="list-container">
            <p class="list-p">Design That Stands Out</li>
                <p>
                  Our designs are not just visually appealing but also user-friendly,
                  ensuring a seamless experience for visitors.
                </p>
        </div>

        <div class="list-container">
            <p class="list-p">Full-Stack Expertise</li>
                <p>
                  Whether it’s HTML, CSS, JavaScript, React, Node.js, or WebFlow, we
                  have the expertise to handle diverse projects.
                </p>
        </div>

    </div>

    <div class="text-container">
      <h1>Let’s Build Something Amazing</h1>
      <p>
        Have a project in mind? Whether you’re a startup, small business, or
        enterprise, we’re here to bring your vision to life.
      </p>
      <p id="p2">
        Contact us today and let’s create something extraordinary together.
      </p>
      <a class="contact-button" href="/#contact">Contact Page</a>
    </div>

    <%-include("footer")%>
  </body>
</html>
