<link rel="stylesheet" href="/styles/footer.css">
<footer>
    <div class="footer-content">
      <div class="footer-text">
        <h2>DevDou</h2>
      </div>
      <div class="social-icons">
        <a target="_blank" href="https://github.com/Adevguy"
          ><img class="scaleUp" src="svgs/github-brands.svg" alt="GitHub"
        /></a>
        <a target="_blank" href="https://eg.linkedin.com/in/dev-dou-93a19b345"
          ><img class="scaleUp" src="svgs/linkedin-brands.svg" alt="LinkedIn"
        /></a>
        <a target="_blank" href="/#contact"
          ><img class="scaleUp" src="svgs/email-svgrepo-com.svg" alt="Email"
        /></a>
      </div>
    </div>

    <div class="footer-hr"></div>

    <div class="footer-bottom">
      <div class="footer-p">
        <p class="gray">© All rights reserved.</p>
      </div>
      <ul class="footer-links">
        <li><a class="gray scaleUp" href="/">Home</a></li>
        <li><a class="gray scaleUp" href="/aboutus">About us</a></li>
        <li><a class="gray scaleUp" href="#contact">Contact</a></li>
      </ul>
    </div>
  </footer>