<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/main-phones.css" />
    <title>DevDou portfolio</title>
  </head>
  <body>
    <header>
      <div class="left-header">
        <div class="logo-container">
          <img
            class="logo"
            src="svgs/DEVDOU.png"
            loading="lazy"
            alt="Devdou logo"
          />

          <div class="wrapper">
            <input type="checkbox" id="fab-toggle" />
            <label class="fab" for="fab-toggle"></label>
            <div class="fac">
              <a href="/aboutus"> About </a>
              <a href="/blog"> Blog </a>
              <a href="#contact"> Contact </a>
            </div>
          </div>
        </div>
        <%-include("flash")%>
        <div class="main-text">
          <p>Hello there,<br />we are</p>
          <p class="devdou"><strong>DevDou</strong></p>
          <p>full-stack web developers</p>
          <div class="button-group">
            <a class="scaleUp">Get a quote</a>
            <a href="#work-section" class="scaleUp">See Work</a>
          </div>
        </div>
        <div class="header-footer">
          <hr class="hori-line" />
          <div>
            <p>let's connect!</p>
            <div class="line"></div>
            <a href="https://github.com/Adevguy"
              ><img
                class="icon scaleUp"
                src="svgs/github-brands.svg"
                alt="icon"
              />
            </a>
            <a href="https://eg.linkedin.com/in/dev-dou-93a19b345"
              ><img
                class="icon scaleUp"
                src="svgs/linkedin-brands.svg"
                alt="icon"
              />
            </a>
            <a href="#contact"
              ><img
                class="icon scaleUp"
                src="svgs/envelope-solid.svg"
                alt="icon"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="right-header">
        <nav>
          <a href="/blog">Blog</a>
          <a href="/contactus">About</a>
          <a href="#contact" class="scaleUp">Contact</a>
        </nav>
        <div class="header-lines">
          <div class="header-line"></div>
          <div class="header-line"></div>
          <div class="header-line"></div>
        </div>
      </div>
    </header>
    <div style="border-bottom: 1px solid white; height: 2px"></div>

    <div class="about-us">
      <div>
        <p class="about-us-text">About us</p>
        <div class="about-us-div">
          <p class="about-us-long-text">
            We are DevDou, a web developer agency based <br />
            in <span>Egypt</span>. We create modern, visually appealing <br />
            websites in a short period of time. <br />
            Whether it’s an e-commerce store, a personal website, <br />
            or even a personal blog, we got you covered!
          </p>
          <a href="/aboutus" class="discover-more scaleUp">
            Discover More
            <p class="arrow-icon">⟶</p>
          </a>
        </div>
      </div>
      <div class="about-us-content">
        <div class="about-us-div-2">
          <div class="lamp-container">
            <img
              class="lamp-icon"
              src="svgs/electric-lamp.svg"
              alt="lamp-icon"
            />
            <p class="about-us-text-2">What can we do for you</p>
          </div>
          <p style="color: #8d8d8d" class="about-us-long-text-2">
            Deliver faster, better products that your users will love. <br />
            Here are the services we provide:
          </p>
          <ul class="about-us-list">
            <li>Web design</li>
            <li>Front-end development</li>
            <li>Back-end development</li>
            <li>Full-stack development</li>
          </ul>
        </div>
        <div class="two-boxes-container">
          <div class="two-boxes"></div>
        </div>
      </div>
    </div>

    <div class="skills">
      <div class="skills-header">
        <p style="margin-left: 5%">Technologies & Tools</p>
        <p style="margin-left: 5%">Full-stack web development tech</p>
      </div>
      <div class="skills-cards-container">
        <div class="card scaleUp">
          <img src="svgs/monitor.svg" alt="monitor image" class="card-img" />
          <p class="card-header">Front-end</p>
          <p class="card-description">Top tier modern front-end tech</p>
          <div class="card-tech">
            <div class="card-tech-box html">
              <img src="svgs/html.svg" alt="html icon" />
              <p>HTML</p>
            </div>
            <div class="card-tech-box css">
              <img src="svgs/css.svg" alt="css icon" />
              <p>CSS</p>
            </div>
            <div class="card-tech-box javascript">
              <img src="svgs/javascript.svg" alt="javascript icon" />
              <p>Javascript</p>
            </div>
            <div class="card-tech-box react">
              <img src="svgs/react.svg" alt="react icon" />
              <p>React</p>
            </div>
            <div class="card-tech-box bootstrap">
              <img src="svgs/bootstrap.svg" alt="bootstrap icon" />
              <p>Bootstrap</p>
            </div>
          </div>
        </div>
        <div class="card scaleUp">
          <img src="svgs/database.svg" alt="database" class="card-img" />
          <p class="card-header">Back-end & database</p>
          <p class="card-description" id="text-change">
            Well experienced back-end team with top tier security
          </p>
          <div class="card-tech">
            <div class="card-tech-box nodejs">
              <img src="svgs/node.svg" alt="nodejs icon" />
              <p>NodeJs</p>
            </div>
            <div class="card-tech-box mongodb">
              <img src="svgs/mongodb.svg" alt="mongo database icon" />
              <p>MongoDB</p>
            </div>
            <div class="card-tech-box express">
              <img src="svgs/express.svg" alt="express icon" />
              <p>Express</p>
            </div>
            <div class="card-tech-box socketio">
              <img src="svgs/socketio.svg" alt="socket.io icon" />
              <p>Socket.io</p>
            </div>
          </div>
        </div>
        <div class="card scaleUp">
          <img src="svgs/hammer.png" alt="monitor-image" class="card-img" />
          <p class="card-header">Design & other tools</p>
          <p class="card-description">A variety of applications & tech</p>
          <div class="card-tech">
            <div class="card-tech-box github">
              <img src="svgs/github-brands.svg" alt="github icon" />
              <p>Github</p>
            </div>
            <div class="card-tech-box figma">
              <img src="svgs/figma.svg" alt="Figma icon" />
              <p>Figma</p>
            </div>
            <div class="card-tech-box webflow">
              <img src="svgs/webflow.svg" alt="webflow icon" />
              <p>Webflow</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="recent-works">
      <h2 class="section-title" id="work-section">
        <span class="circle"></span>Most Recent Works
      </h2>
      <div class="works-grid">
        <div class="work-card scaleUp-work">
          <img src="svgs/masaqel.png" loading="lazy" alt="PassSecure Project" class="work-image" />
          <div class="work-info">
            <h3 class="work-title">Masaqel</h3>
            <p class="work-description">
              Masaqel is a fully-fledged multiplayer-socket website where you
              can make and join rooms along with friends!
            </p>
            <a href="https://quizapp-2qit.onrender.com" class="visit-website"
              >Visit website<img
                src="svgs/arrow-up-right-from-square-solid (1).svg"
                class="visit-icon"
            /></a>
            <div class="tech-icons">
              <span class="tech html"
                ><img src="svgs/html.svg" alt="HTML" />HTML</span
              >
              <span class="tech css"
                ><img src="svgs/css.svg" alt="HTML" />Css</span
              >
              <span class="tech javascript"
                ><img src="svgs/javascript.svg" alt="HTML" />Javascript</span
              >
              <span class="tech bootstrap"
                ><img src="svgs/bootstrap.svg" alt="Bootstrap" />Bootstrap</span
              >
              <span class="tech nodejs"
                ><img src="svgs/node.svg" alt="Node.js" />NodeJs</span
              >
              <span class="tech express"
              ><img src="svgs/express.svg" alt="Node.js" />Express</span
            >
              <span class="tech mongodb"
                ><img src="svgs/mongodb.svg" alt="MongoDB" />MongoDB</span
              >
              <span class="tech socketio"
                ><img src="svgs/socketio.svg" alt="MongoDB" />Socket.io</span
              >
            </div>
          </div>
        </div>

        <div class="work-card scaleUp-work">
          <img src="svgs/passsecure.png" loading="lazy" alt="PassSecure Project" class="work-image" />
          <div class="work-info">
            <h3 class="work-title">PassSecure</h3>
            <p class="work-description">
              PassSecure is a fully-fledged password manager and generator with
              top-tier security to keep all your passwords in one place!
            </p>
            <a href="https://password-manager.devdou.online/" class="visit-website"
              >Visit website
              <img
                src="svgs/arrow-up-right-from-square-solid (1).svg"
                class="visit-icon"
            /></a>
            <div class="tech-icons">
              <span class="tech html"
                ><img src="svgs/html.svg" alt="HTML" />HTML</span
              >
              <span class="tech css"
                ><img src="svgs/css.svg" alt="HTML" />Css</span
              >
              <span class="tech javascript"
                ><img src="svgs/javascript.svg" alt="HTML" />Javascript</span
              >
              <span class="tech bootstrap"
                ><img src="svgs/bootstrap.svg" alt="Bootstrap" />Bootstrap</span
              >
              <span class="tech nodejs"
                ><img src="svgs/node.svg" alt="Node.js" />NodeJs</span
              >
              <span class="tech express"
              ><img src="svgs/express.svg" alt="Node.js" />Express</span
            >
              <span class="tech mongodb"
                ><img src="svgs/mongodb.svg" alt="MongoDB" />MongoDB</span
              >
            </div>
          </div>
        </div>

        <div class="work-card scaleUp-work">
          <img src="svgs/techbuy.png" loading="lazy" alt="Delivery Project" class="work-image" />
          <div class="work-info">
            <h3 class="work-title">TechBuy</h3>
            <p class="work-description">
              A one-page landing page of a tech shop with a modern UI.
            </p>
            <a href="https://devdoudesign.onrender.com" class="visit-website"
              >visit website<img
                src="svgs/arrow-up-right-from-square-solid (1).svg"
                class="visit-icon"
            /></a>
            <div class="tech-icons">
              <span class="tech html"
                ><img src="svgs/html.svg" alt="HTML" />HTML</span
              >
              <span class="tech css"
                ><img src="svgs/css.svg" alt="HTML" />Css</span
              >
              <span class="tech javascript"
                ><img src="svgs/javascript.svg" alt="HTML" />Javascript</span
              >
              <span class="tech bootstrap"
                ><img src="svgs/bootstrap.svg" alt="Bootstrap" />Bootstrap</span
              >
            </div>
          </div>
        </div>

        <div class="work-card empty"></div>
      </div>
    </section>

    <div class="contact-container">
      <div class="contact-text">
        <div class="contact-main">
          <h1>Let's chat.</h1>
          <h1>Tell us about your <br />project</h1>
          <p>let’s create something together</p>
          <hr />
        </div>
        <div class="mail-container">
          <div class="circle-2">
            <img src="svgs/email-svgrepo-com.svg" alt="" />
          </div>
          <h2>
            Mail us at <br />
            devdou180@gmail.com
          </h2>
        </div>
      </div>
      <form
        class="contact-form needs-validation"
        method="post"
        action="/contact-us"
        novalidate
        id="contact"
      >
        <h2 class="form-text">Send us a message!</h2>
        <div class="form-container">
          <input type="text" name="username" id="name" placeholder="Name" />
          <small class="error-message"></small>

          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email address"
          />
          <small class="error-message"></small>

          <textarea
            name="message"
            id="message"
            placeholder="Your message"
          ></textarea>
          <small class="error-message"></small>

          <button
            type="submit"
            id="contact-button"
            class="scaleUp"
            style="cursor: pointer"
          >
            Send message
          </button>
        </div>
      </form>
    </div>
    <hr />
    <%-include("footer")%>
    <script src="/scripts/main.js"></script>
  </body>
</html>
